---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:58 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9985'
      X-Ratelimit-Reset:
      - '2691'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Thu, 10 Dec 2015 22:40:16 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/ed338a127312b2d4/conditions/q/autoip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.071'
      Last-Modified:
      - Thu, 10 Dec 2015 22:40:16 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boston, MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.37046814\",\n\t\t\"longitude\":\"-71.02747345\",\n\t\t\"elevation\":\"6.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"North End waterfront Boston, Boston, Massachusetts\",\n\t\t\"city\":\"North
        End waterfront Boston, Boston\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.365311\",\n\t\t\"longitude\":\"-71.051521\",\n\t\t\"elevation\":\"39
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMABOSTO124\",\n\t\t\"observation_time\":\"Last
        Updated on December 10, 5:40 PM EST\",\n\t\t\"observation_time_rfc822\":\"Thu,
        10 Dec 2015 17:40:03 -0500\",\n\t\t\"observation_epoch\":\"1449787203\",\n\t\t\"local_time_rfc822\":\"Thu,
        10 Dec 2015 17:40:16 -0500\",\n\t\t\"local_epoch\":\"1449787216\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Scattered
        Clouds\",\n\t\t\"temperature_string\":\"53.2 F (11.8 C)\",\n\t\t\"temp_f\":53.2,\n\t\t\"temp_c\":11.8,\n\t\t\"relative_humidity\":\"84%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"SSW\",\n\t\t\"wind_degrees\":192,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1014\",\n\t\t\"pressure_in\":\"29.96\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"49
        F (9 C)\",\n\t\t\"dewpoint_f\":49,\n\t\t\"dewpoint_c\":9,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"53.2
        F (11.8 C)\",\n\t\t\"feelslike_f\":\"53.2\",\n\t\t\"feelslike_c\":\"11.8\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"0\",\n\t\t\"UV\":\"0.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMABOSTO124\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.365311,-71.051521\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 10 Dec 2015 22:40:17 GMT
[...]
- request:
    method: get
    uri: http://api.seatgeek.com/2/events?datetime_local.gte=2015-12-10&venue.city=Boston&venue.state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c848fcc23b0530f549e3d4f0e9563b63f0fdc073"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":1285,"page":1,"geolocation":null},"events":[{"links":[],"id":2955699,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Sara
        Evans","announce_date":"2015-12-05T00:00:00","score":0.53742,"date_tbd":false,"type":"concert","datetime_local":"2015-12-10T16:00:00","visible_until_utc":"2015-12-11T01:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":4},"name":"Sara
        Evans","short_name":"Sara Evans","url":"https://seatgeek.com/sara-evans-tickets","type":"band","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/sara-evans-6ef634/1586/huge.jpg","home_venue_id":null,"primary":true,"score":0.53337,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/sara-evans-6ef634/1586/huge.jpg"},"slug":"sara-evans","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":1586,"genres":[{"slug":"country","primary":true,"name":"country"}]}],"url":"https://seatgeek.com/sara-evans-tickets/boston-massachusetts-boston-symphony-hall-2015-12-10-4-pm/concert/2955699/","created_at":"2015-12-05T00:00:00","venue":{"city":"Boston","name":"Boston
        Symphony Hall","extended_address":"Boston, MA 02115","url":"https://seatgeek.com/venues/boston-symphony-hall/tickets/","country":"US","display_location":"Boston,
        MA","links":[],"slug":"boston-symphony-hall","state":"MA","score":0.51845,"postal_code":"02115","location":{"lat":42.3429,"lon":-71.0857},"address":"301
        Massachusetts Avenue","timezone":"America/New_York","id":584},"short_title":"Sara
        Evans","datetime_utc":"2015-12-10T21:00:00","datetime_tbd":false},{"links":[],"id":2785134,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Boston
        Holiday Pops - Boston","announce_date":"2015-08-27T00:00:00","score":0.48216,"date_tbd":false,"type":"classical","datetime_local":"2015-12-10T16:00:00","visible_until_utc":"2015-12-11T01:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3010000,"name":"clas[...]
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/home.json?api-key=86525eed4a3bdb9db188fa877ba76c63:14:73728927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      X-Amz-Request-Id:
      - 85FDE79F7F586AE0
      Last-Modified:
      - Thu, 10 Dec 2015 22:40:18 GMT
      Etag:
      - '"ca81c1eb82f72ec8252c703a24ab988d"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.
        All Rights Reserved.","section":"home","last_updated":"2015-12-10T17:40:02-05:00","num_results":21,"results":[{"section":"U.S.","subsection":"Politics","title":"Trump\u2019s
        Lead Solidifies in Poll, but Many Are Nervous","abstract":"Donald J. Trump
        commands the support of 35 percent of Republican primary voters in a Times\/CBS
        News poll taken largely before his latest comments about Muslims, but nearly
        two-thirds of American voters say his candidacy concerns or frightens them.","url":"http:\/\/www.nytimes.com\/politics\/first-draft\/2015\/12\/10\/trump-solidifies-his-lead-but-leaves-many-nervous\/","byline":"By
        MEGAN THEE-BRENAN","item_type":"Blogpost","updated_date":"2015-12-10T07:00:23-5:00","created_date":"2015-12-10T07:02:44-5:00","published_date":"2015-12-10T07:00:22-5:00","material_type_facet":"News","kicker":"First
        Draft","des_facet":"","org_facet":"","per_facet":"","geo_facet":"","multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/09\/us\/09firstdraftnl-poll\/09firstdraftnl-poll-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"A
        supporter at a Trump rally in Raleigh, N.C., last week.","copyright":"Ray
        Whitehouse for The New York Times"},{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/09\/us\/09firstdraftnl-poll\/09firstdraftnl-poll-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"A
        supporter at a Trump rally in Raleigh, N.C., last week.","copyright":"Ray
        Whitehouse for The New York Times"},{"url":"http:\/\/static01.nyt.com\[...]
