---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:58 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '3600'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Mon, 07 Dec 2015 15:01:13 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/ed338a127312b2d4/conditions/q/autoip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.060'
      Last-Modified:
      - Thu, 10 Dec 2015 18:38:52 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boston, MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.37046814\",\n\t\t\"longitude\":\"-71.02747345\",\n\t\t\"elevation\":\"6.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"North End waterfront Boston, Boston, Massachusetts\",\n\t\t\"city\":\"North
        End waterfront Boston, Boston\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.365311\",\n\t\t\"longitude\":\"-71.051521\",\n\t\t\"elevation\":\"39
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMABOSTO124\",\n\t\t\"observation_time\":\"Last
        Updated on December 10, 1:38 PM EST\",\n\t\t\"observation_time_rfc822\":\"Thu,
        10 Dec 2015 13:38:28 -0500\",\n\t\t\"observation_epoch\":\"1449772708\",\n\t\t\"local_time_rfc822\":\"Thu,
        10 Dec 2015 13:38:52 -0500\",\n\t\t\"local_epoch\":\"1449772732\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Mostly
        Cloudy\",\n\t\t\"temperature_string\":\"56.5 F (13.6 C)\",\n\t\t\"temp_f\":56.5,\n\t\t\"temp_c\":13.6,\n\t\t\"relative_humidity\":\"75%\",\n\t\t\"wind_string\":\"From
        the SW at 4.0 MPH Gusting to 4.9 MPH\",\n\t\t\"wind_dir\":\"SW\",\n\t\t\"wind_degrees\":215,\n\t\t\"wind_mph\":4.0,\n\t\t\"wind_gust_mph\":\"4.9\",\n\t\t\"wind_kph\":6.4,\n\t\t\"wind_gust_kph\":\"7.9\",\n\t\t\"pressure_mb\":\"1014\",\n\t\t\"pressure_in\":\"29.94\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"49
        F (9 C)\",\n\t\t\"dewpoint_f\":49,\n\t\t\"dewpoint_c\":9,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"56.5
        F (13.6 C)\",\n\t\t\"feelslike_f\":\"56.5\",\n\t\t\"feelslike_c\":\"13.6\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"98\",\n\t\t\"UV\":\"1.0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/mostlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMABOSTO124\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.365311,-71.051521\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 10 Dec 2015 18:38:53 GMT
[...]
